# AWS & S3
AWS_BUCKET=your-s3-bucket-name
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key

# Hyperliquid Credentials
MAINNET_PRIVATE_KEY=your-mainnet-key
MAINNET_ACCOUNT_ADDRESS=your-mainnet-address

TESTNET_PRIVATE_KEY=your-testnet-key
TESTNET_ACCOUNT_ADDRESS=your-testnet-address

# Bot Settings
TESTNET_MODE=True

# Notifications
TELEGRAM_BOT_TOKEN=your-bot-token
TELEGRAM_CHAT_ID=your-chat-id
